.table{
    margin-top: 20px;
    overflow: scroll;
    height: 90vh;
    color: rgb(56, 53, 53);
}
.table tr{
    display: flex;
    justify-content: space-between;
}
.table td{
    padding: 0.5rem;
}

.table tr:nth-of-type(odd){
    background-color:crimson;
    color: #ffffff;
    opacity: .5;
}
@media screen and (max-width: 768px){
   .table{
       margin-top: 30px;
   }
}